*{
  box-sizing: border-box;
}


.container{
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 7%;
  margin-bottom: 10%;
  padding:0.8em;
  /* box-shadow: 0 0 5px 0 #597592; */
  align-content: center;
  background: transparent;
  /* border: #e74c3c solid 2px; */
}

 .wrapper{

  padding: 2%;
  border-radius: 0; 
  text-align: left;
  color: #e74c3c;
  font-size: 12px;
  align-content: center;
  border: #e74c3c solid 2px;
}

/* FORM STYLES */
.contact{
  background: white;
  display: grid;
  grid-gap:10px;
  display:block;
}


.label{
  display:block;
  font-size: 20px;
  text-transform: uppercase;
  color: #e74c3c;
}


 .form-input{
  width:100%;
  padding:1em;
  /* border:2px solid #e74c3c; */
  color: black;
} 

#mybutton{
  background: orangered;
  color: white;
  margin-left: 50%;
} 

