footer {
  padding: 14px ;
  font-size: 14px;
  text-align: center;
  background: transparent;
  height: 10%;
  width: 100%;
  color: white;
}

.sticky {
  position: fixed;
  bottom:  0;
  width: 100%;
  left: 0;
}

.page-footer {
  background: linear-gradient(to right, #1a242e, #2c3e50);
}

#footerpadding{
  margin-top: 45%;
}

footer {
  padding: 14px ;
  font-size: 14px;
  text-align: center;
  background: transparent;
  height: 10%;
  width: 100%;
  color: white;
}