.page-footer {
    background: linear-gradient(to right, #1a242e, #2c3e50);
    /* position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    margin-left:0%;
    margin-right:0% */
}
body {
    width: 100%;
}