body{
    /* background: linear-gradient(to right, #e67e22, #e74c3c); */
    background-color: linear-gradient(to left, #e67e22, #e74c3c);
    color:#e74c3c;
    line-height:1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:1em;
  }



.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
background-image: url("./bg-family.jpg");
box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
border-radius: 5%;

height: 550px;
margin-top: 5%;
/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
/* background-size: cover; */
vertical-align: middle;
position: relative;
}